/* desktop */
@media(min-width:769px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-areas: 
        "section section header header"
        "section section header header"
        "main main aside aside"
        "main main aside aside"
        "footer footer footer footer";
    }
    footer .location_icon { gap: 25px; }
}