//variables
@use "../utilities/variables" as *;

//mixin
@use "../utilities/mixin" as *;


html, body { height: 100%; }// que ocupe toda la ventana margin: 0;
         body { display: flex; 
                flex-direction: column; }

.img-frame {
  border: 8px solid #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  padding: 10px;
  background-color: #e7dede;
  border-radius: 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img-frame:hover { 
    transform: scale(1.15); // agranda un poco la imagen 
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); // sombra más intensa 
    }
.img-frame--banner { 
    border: 8px solid #fff; 
    padding: 10px; 
    border-radius: 6px; 
    background: linear-gradient(90deg, #f9f9f9, #e0e0e0); 
    transition: background 3s ease; // transición suave 
    animation: bannerColor 8s infinite alternate; // animación continua 
    } @keyframes bannerColor { 
        0% { background: linear-gradient(90deg, #67dfcb, #e0e0e0); } 
        50% { background: linear-gradient(90deg, #67dfcb, #f9f9f9); } 
        100% { background: linear-gradient(90deg, #e0f7fa, #67dfcb); }
    }
/*estilos de header*/

header{
    img { display: block; 
        margin: 0 auto; } 
    main{
    text-align: $align;
    nav{        
        ul{
          list-style: none;
          li{
            a{
         text-decoration: none;
         color:rgb(86, 30, 210);   
        }
      }  
     }
    }
    img{
    width: 20%;
    margin: 25px 0 100px 0;
    }
} 
}


/* estilos de main*/
main{
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    color: $color-principal;
    text-align:$align;
    flex: 1;
    
    nav{
        ul{
            li{
                p{
                    text-decoration:$decoration;
                    color:$color-secundario
                }
            }
            a{
                text-decoration: $decoration;
                color:$color-principal;
                font-weight: bold;
            }
        }
    }
    div{p
    {
    color:$color-tipo;
    text-align:$align;
        }
      } 
}
nav{ul{li{
    
    a {
    display: inline-block; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; } 
    
    a:hover{
      color:whitesmoke;
      transform: scale(1.1); // agranda el botón 
      box-shadow: 0 4px 12px black; // sombra para dar efecto de “flotar” 
      }
     }
    }
   }
   /*estilos de main en productos*/
main{
    @include flex;
    flex-direction: column; /* apila vertical*/
    gap: 10px; /* espacio entre ítems */ 
    list-style: none; 
    padding: 0;
}
/*estilos de footer*/
footer{
    background-color:lightseagreen;
    color:$color-secundario;
    text-align: $align;
    margin-top: auto;

    a {
    display: inline-block; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; } 
        a:hover { 
          color:whitesmoke;
          transform: scale(1.1); // agranda el botón 
          box-shadow: 0 4px 12px black; // sombra para dar efecto de “flotar” 
        }

    
    .location_icon { 
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center; 
        gap: 25px; 
        list-style: none; 
        padding: 0; 
        margin: 0; 
        li { 
            display: flex; 
            flex-direction: column; // icono arriba, texto abajo 
            align-items: center;
             font-size: 14px;
              img { 
                width: 30px;
                height: auto; 
                margin-bottom: 5px; 
               } 
                a { 
                    display: inline-block; 
                    transition: transform 0.3s ease, box-shadow 0.3s ease; } 
                    a:hover { 
                        transform: scale(1.1); // agranda el botón 
                        box-shadow: 0 4px 12px black; // sombra para dar efecto de “flotar” 
                        }
            } 
        } 
    }
        
    
    a{
        color:$color-principal;
        text-decoration: $decoration;
        text-align: $align;
    }
    hover{
        color: whitesmoke;
    }

/*cass*/
header{
    h1{
    background-color:lightseagreen;
    color:$color-secundario;
    text-align: $align;
    }
}
